<template>
    <div>
        <transition name="fade-main" mode="out-in">
            <router-view v-if="userIsAuthorized" />
        </transition>
        <not-authorized v-if="!userIsAuthorized" />
    </div>
</template>
<script>
import Security from '../../security.js';
export default {
    computed: {
        userIsAuthorized() {
            const permission =
                this.$route.meta.permission || this.$route.matched[0].meta.permission;
            const user = this.$store.state.user;
            const getGroup = this.$route.meta.group || this.$route.matched[0].meta.group;
            let _group;
            if (getGroup) {
                _group = getGroup(this.$route.params);
            }
            return permission && this.$route.meta.permission !== false
                ? Security.userIsInRole(user, permission, _group)
                : true;
        },
    },
};
</script>
