<template>
    <app-layout />
</template>
<script>
import AppLayout from '../../../modules/main-view/client/components/AppLayout.vue';
export default {
    components: {
        AppLayout
    }
};
</script>
<style lang="scss" scoped>
.page-load-spinner {
    position: fixed;
    top: calc(50% - 0.5em);
    left: calc(50% - 0.5em);
}
</style>
