<template>
    <div>
        <div
            class="col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4"
        >
            <form class="card" @keyup.enter="loginUser">
                <div class="card-header">
                    <h4 class="card-title">
                        Login
                    </h4>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input
                            id="exampleInputEmail1"
                            v-model="email"
                            type="email"
                            class="form-control"
                            aria-describedby="emailHelp"
                            placeholder="Enter email"
                        />
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input
                            id="exampleInputPassword1"
                            v-model="password"
                            type="password"
                            class="form-control"
                            placeholder="Password"
                        />
                    </div>
                    <div class="form-footer">
                        <button
                            class="btn btn-primary btn-block"
                            type="button"
                            @click="loginUser"
                        >
                            Login
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
<script>
import { Meteor } from 'meteor/meteor';
export default {
    data() {
        return {
            email: '',
            password: ''
        };
    },
    methods: {
        loginUser() {
            Meteor.loginWithPassword(
                { email: this.email },
                this.password,
                (error) => {
                    if (error) {
                        return;
                    }
                    this.$router.push('/');
                }
            );
        }
    }
};
</script>
