<template>
    <div ref="container" class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <router-link class="btn btn-primary mt-5" :to="{ name: 'videos' }"
                >Back</router-link
            >
            <div v-if="$subReady.video && video" ref="card" class="card">
                <video class="card-img-top" controls controlsList="nodownload">
                    <source :src="link" />
                </video>
            </div>
        </div>
    </div>
</template>
<script>
import { Videos } from '../../videos';

export default {
    props: {
        videoId: {
            type: String,
            required: true
        }
    },
    data() {
        return {
            link: ''
        };
    },
    meteor: {
        $subscribe: {
            video() {
                return [this.videoId];
            }
        },
        video() {
            const video = Videos.find({ _id: this.videoId }).fetch()[0];
            if (video) {
                this.link = Videos.link(video);
                return video;
            }
            return video;
        }
    }
};
</script>
