<template>
    <div>
        <h5 class="card-title">
            Upload new video
        </h5>
        <form ref="form" @keyup.enter="handleClick">
            <div class="form-group">
                <label for="exampleInputEmail1">Title</label>
                <input
                    id="exampleInputEmail1"
                    v-model="name"
                    type="text"
                    class="form-control"
                    placeholder="Enter title"
                    required
                />
            </div>
            <div
                class="form-group form-file-upload form-file-simple fileupload-new fileupload"
            >
                <input
                    :value="displayValue"
                    required
                    type="text"
                    class="form-control inputFileVisible fileupload-new"
                    placeholder="Choose file.."
                    @click="openHiddenInput"
                />
                <input
                    ref="inputFileHidden"
                    type="file"
                    class="inputFileHidden"
                    @change="onFileChange"
                />
            </div>
            <input
                v-show="false"
                ref="hiddenSubmit"
                value="Submit"
                type="submit"
                @submit.prevent
            />
        </form>
        <div
            v-if="progress && loading"
            :style="{ visibility: progress ? 'visible' : 'hidden' }"
            class="progress-container progress-primary"
        >
            <span class="progress-badge">Progress</span>
            <div class="progress">
                <div
                    class="progress-bar"
                    role="progressbar"
                    :style="{ width: progress + '%' }"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="100"
                ></div>
            </div>
            <div>
                Uploading at:
                {{ estimateSpeed | displayEstimateSpeed }}
            </div>
        </div>
        <div v-else-if="loading" class="estimating">
            Estimating Time
            <span>.</span><span>.</span><span>.</span>
        </div>
        <div class="d-flex flex-row">
            <button
                v-if="hasCancelButton"
                type="button"
                class="btn btn-secondary ml-auto"
                @click="$router.go(-1)"
            >
                Cancel
            </button>
            <button
                :class="{ 'ml-auto': !hasCancelButton }"
                type="button"
                :disabled="loading"
                class="btn btn-primary mr-auto"
                @click="handleClick"
            >
                Upload
            </button>
        </div>
    </div>
</template>
<script>
let upload = null;
import { Videos } from '../../videos';

import filesize from 'filesize';
export default {
    filters: {
        displayEstimateSpeed(value) {
            return filesize(value, { bits: true }) + '/s';
        }
    },
    props: {
        companyId: {
            type: String,
            default: ''
        },
        hasCompanyDropdown: {
            type: Boolean,
            default: true
        },
        hasCancelButton: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            name: '',
            file: '',
            progress: 0,
            displayValue: '',
            type: '',
            estimateTime: '',
            estimateSpeed: '',
            loading: false,
            $_companyId: this.companyId,
            selectCompanies: [],
            computation: null,
            isPaused: false
        };
    },
    watch: {
        loading(value) {
            this.$emit('loading', value);
        },
        progress(value) {
            if (value === 100) {
                this.progress = 0;
            }
        },
        companies: {
            handler(value) {
                if (value && value.length) {
                    if (!this.$data.$_companyId) {
                        this.$data.$_companyId = value[0]._id;
                    }
                    this.selectCompanies = value.map((company) => ({
                        key: company._id,
                        label: company.name
                    }));
                }
            },
            deep: true
        }
    },
    beforeDestroy() {
        if (this.computation) {
            this.computation.stop();
        }
    },
    methods: {
        openHiddenInput() {
            this.$refs.inputFileHidden.click();
        },
        onFileChange(e) {
            if (e.currentTarget.files && e.currentTarget.files[0]) {
                this.file = e.currentTarget.files[0];
                this.displayValue = this.file.name;
            }
        },
        abort() {
            upload.abort();
        },
        resume() {
            upload.continue();
        },
        pause() {
            upload.pause();
        },
        cleanUpload() {
            this.$refs.form.reset();
            this.name = '';
            this.file = null;
            upload = null;
            this.isPaused = false;
            this.progress = this.estimateTime = this.estimateSpeed = '';
            this.loading = false;
        },
        handleClick() {
            if (!this.$refs.form.checkValidity()) {
                this.$refs.hiddenSubmit.click();
                return;
            }
            this.loading = true;
            const self = this;
            Videos.insert(
                {
                    file: self.file,
                    fileName: self.name,
                    streams: 'dynamic',
                    chunkSize: 'dynamic',
                    transport: 'http'
                },
                false
            )
                .on('end', function(error, fileObj) {
                    if (error) {
                        alert('Error during upload: ' + error);
                    } else {
                        self.cleanUpload();
                        self.$router.push({
                            name: 'video',
                            params: {
                                videoId: fileObj._id
                            }
                        });
                    }
                })
                .on('abort', function() {
                    self.cleanUpload();
                })
                .on('error', function(error) {
                    console.error(error);
                })
                .on('start', function() {
                    upload = this;
                    self.computation = self.$autorun(() => {
                        self.progress = this.progress.get();
                        self.estimateTime = this.estimateTime.get();
                        self.estimateSpeed = this.estimateSpeed.get();
                        self.isPaused = this.onPause.get();
                    });
                })
                .start();
        }
    }
};
</script>
<style lang="scss" scoped>
.progress {
    box-shadow: none;
    height: 4px;
    border-radius: 0;
    background: #ddd;
    margin-bottom: 20px;
}

.progress-bar {
    background: #9c27b0 !important;
}

.estimating span {
    font-weight: bold;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.estimating span:nth-child(2) {
    animation-delay: 0.2s;
}
.estimating span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}
</style>
