<template>
    <div class="col-12 col-lg-8 offset-lg-2 crs-col">
        <router-link
            class="btn btn-primary mt-5"
            :to="{ name: 'video.upload' }"
        >
            Upload Video
        </router-link>
        <template v-if="videos.length">
            <div v-for="video in videos" :key="video._id" class="card">
                <div class="card-body">
                    <router-link
                        :to="{
                            name: 'video',
                            params: {
                                companyId: video.meta.companyId,
                                videoId: video._id
                            }
                        }"
                    >
                        {{ video.name }}
                    </router-link>
                </div>
            </div>
        </template>
    </div>
</template>
<script>
import VideoService from '../../service';

export default {
    meteor: {
        $subscribe: {
            videos() {
                return [];
            }
        },
        videos() {
            return VideoService.find({});
        }
    }
};
</script>
