<template>
    <div class="row">
        <div class="col-12 col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card__top-border"></div>
                <video-add-form
                    class="card-body"
                    @cancel="$router.replace({ name: 'videos' })"
                    @loading="handleLoading"
                />
            </div>
        </div>
    </div>
</template>
<script>
import VideoAddForm from './VideoAddForm.vue';
export default {
    components: {
        VideoAddForm
    },
    data() {
        return {
            loading: false
        };
    },
    methods: {
        handleLoading(value) {
            this.loading = value;
        }
    }
};
</script>
<style lang="scss" scoped>
.card {
    overflow: hidden;
}
</style>
