<template>
    <div class="wrapper">
        <main-panel />
    </div>
</template>
<script>
import MainPanel from './MainPanel.vue';

export default {
    components: {
        MainPanel
    }
};
</script>
