<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#9c27b0" />
</head>

<body>
    <div id="app"></div>
</body>
